
nav{
    width: 100%;
    background: #ffc70d; 
    color:#fff;
    padding: 10px 30px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

.logo{
    width: 60px;
    margin-left: 50px;
    cursor: pointer;
}

.hamburger{
   opacity: 0;
   visibility: hidden;
}

.hamburger .line{
    width: 25px;
    height: 3px;
    margin-bottom: 3px;
    background: #fff;
}



ul a:hover{
    color:rgb(207, 41, 41);
}

ul a.active{
    color:rgb(219, 25, 25);
}

.cart-count{
   width: 12px;
   height: 12px;
   border-radius: 50%;
   padding: 3px 3px;
   font-size: 12px;
   background: red;
   color: white;
   position: relative;
   top: -8px;
   left: 1px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 5px 20px;
    font-size: 20px;
}

/*---- media query----- */

@media (max-width: 720px) {
   
    .menu-link {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
       gap: 2rem;
        align-items: center;
        background: #0e1124;
        z-index: -1;
        width: 200px;
        padding-top: 70px;
        opacity: 0;
        visibility: hidden;
        transform: translateX(100%); /* Initially hidden by sliding off-screen */
        transition: all 0.5s ease-in-out; /* Smooth transition */
    }
 
    /* Keyframe for slide-in and fade effect */
    @keyframes slideIn {
        0% {
            transform: translateX(100%); /* Start off-screen */
            opacity: 0;
        }
        100% {
            transform: translateX(0); /* End position */
            opacity: 1;
        }
    }
 
    /* Keyframe for slide-out effect */
    @keyframes slideOut {
        0% {
            transform: translateX(0); /* Initial visible position */
            opacity: 1;
        }
        100% {
            transform: translateX(100%); /* Move off-screen */
            opacity: 0;
        }
    }
 
    .menu-link.show {
        opacity: 1;
        visibility: visible;
        z-index: 999; /*Bring to the front*/
        transform: translateX(0); /* Slide in */
        animation: slideIn 0.5s forwards; /* Apply slide-in animation */
    }
 
    .menu-link.hide {
        opacity: 0;
        visibility: hidden;
        z-index: -1;
        transform: translateX(100%); /* Slide out */
        animation: slideOut 0.5s forwards; /* Apply slide-out animation */
    }
 
    .hamburger {
        opacity: 1;
        visibility: visible;
        cursor: pointer;
        transition: transform 0.3s ease;
    }
 
    
    /* .hamburger.active {
        transform: rotate(90deg); 
    } */
}